<h1>Bad Poetry Generator</h1>
<div id="nav">
    <span id="menu_toggle">
        <svg id="hamburger" class="Header__toggle-svg" viewbox="0 0 60 40">
            <g stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <path id="top-line" d="M10,10 L50,10 Z"></path>
                <path id="middle-line" d="M10,20 L50,20 Z"></path>
                <path id="bottom-line" d="M10,30 L50,30 Z"></path>
            </g>
        </svg>
    </span>
    <Select id="theme">Theme:
        <option value="">Theme:</option>
        <option value="love">Love</option>
        <option value="nature">Nature</option>
    </Select>
    <Select id="style">Style:
        <option value="">Style:</option>
        <option value="sonnet">Sonnet</option>
        <option value="limerick">Limerick</option>
    </Select>
<button id="generate">Generate Poem</button>
<button id="viewSaved">View Saved</button> 
</div>

                
            
        